<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>My API</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
          <div class="row">
            <div class="col-md-12">
              <form class="form-inline" id="newTeamForm">
                <div class="form-group">
                  <label for="sportsteam">Where</label>
                  <input type="text" class ="form-control" name="city" placeholder="Where do you rep?" />
                  <label for="sportsteam">Team name</label>
                  <input type="text" class ="form-control" name="name" placeholder="Team name" />
                  <label for="championships"># of rings</label>
                  <input type="text" class ="form-control" name="championships" placeholder="# of rings" />
                </div>
                <button type="submit" class="btn btn-default">Add Team</button>
              </form>
              <div id='teamTarget'>
          <!-- handlebars template -->
                <script id="sportsteam-template" type="text/x-handlebars-template">
                  {{#each sportsteams}}
                  <hr>
                  <p>
                    <b>My favorite teams are:</b>
                    <br />
                    <b>The {{name}} from {{city}} with {{championships}} championships!</b>
                    <button type="button" name="button" class="deleteBtn btn btn-danger pull-right" data-id={{_id}}>Delete</button>
                  </p>
                  {{/each}}
                </script>
              </div>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
